
# Python saved models, cahce and links
*.h5
__pycache__/
*.py[cod]
*$py.class
NN/saved_models/
image-processing/src/*.py
# Distribution / packaging

# C extensions
*.so
*.o
# Binaries
VAS_exec
*.out
*.exe

# VS code
.vscode/

# dependencies and junk
.log/
.config/
app/css/materialize.css
app/node_modules/
